<ion-header>
  <ion-toolbar  bg color="warning">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Informasi
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Hari Libur Imlek</ion-card-title>
    </ion-card-header>

    <ion-card-content color="warning">
      <p>Kepada seluruh karyawan,</p>
      <p>Dengan ini kami sampaikan bahwa hari libur Imlek akan jatuh pada tanggal 10 februari 2024, maka seluruh karyawan di liburkan</p>
      <!-- Tambahkan informasi lainnya sesuai kebutuhan -->
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Hari Libur Pemilu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Kepada seluruh karyawan,</p>
      <p>Dengan ini kami sampaikan bahwa hari pemilu serentak akan jatuh pada tanggal 14 februari 2024, maka seluruh karyawan di liburkan</p>
      <p>note : dan jangan golput</p>
      <!-- Tambahkan informasi lainnya sesuai kebutuhan -->
    </ion-card-content>
  </ion-card>
</ion-content>