
<ion-header>
  <ion-toolbar bg color="warning">
  <ion-title color="light">REGISTRASI KARYAWAN </ion-title>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    
  </ion-buttons>
  </ion-toolbar>
  <ion-app>
    <ion-nav root="page-one"></ion-nav>
  </ion-app>
  
  
  
  </ion-header>
  
<ion-content>
  
  <div class="background">
  
  <div class="company-profile">
    <ion-card-content>
      <div class="company-header">
        <img src="assets/icon/jaskir.png" alt="Logo Perusahaan">
      </div>
</ion-card-content>
    <div class="company-details">
      <h2>PT. JASKIR GROUP</h2>
      <p>perusahaan jasa pengiriman barang seluruh indonesia</p>
      <p>Alamat: Jl. pelita No. 123</p>
      <p>Telepon: (021) 1234-5678</p>
      <!-- Tambahkan informasi perusahaan lainnya sesuai kebutuhan -->
      
    </div>
  </div>

  <div class="menu">
  <ion-nav-link>
    <h2>
    Pilih menu di bawah
  </h2>
    <p>
      <ion-button routerLink="/tabs/tab2" expand="block">REGISTRASI</ion-button>

   </p>

    <ion-button routerLink="/profile" expand="block">PROFILE PERUSAHAAN</ion-button>
  
  </ion-nav-link>
</div>
</div>
  
  
</ion-content>


