<!-- src/app/tab4/tab4.page.html -->

<ion-header>
  <ion-toolbar bg color="warning">
    <ion-title >
      <ion-text color="light">
        ABOUT
      </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-img src="assets/icon/about.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Sejarah Perusahaan
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        PT.Jaskir Group adalah perusahaan pengiriman barang yang didirikan pada tahun 2005. Kami telah
        melayani pelanggan dengan layanan pengiriman cepat dan andal selama lebih dari 15 tahun.
      </p>
      <br>
      
      <p>Hanya dengan sekali klik, individu, UMKM dan perusahaan dapat mengakses armada kendaraan 
        pengiriman yang luas dan dioperasikan oleh mitra pengemudi profesional.</p>
        <br>
        <p>Didukung oleh teknologi, kami menghubungkan orang-orang, kendaraan, muatan,
           dan jalan, mengirimkan barang-barang penting dan memberikan manfaat untuk komunitas lokal di 11 pasar Asia dan Amerika Latin.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Legalitas Perusahaan
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        PT.Jaskir Group adalah perusahaan terdaftar dan sepenuhnya mematuhi semua peraturan dan ketentuan
        yang berlaku dalam industri logistik. Kami berkomitmen untuk memberikan layanan terbaik kepada
        pelanggan kami dengan mengikuti standar hukum dan etika bisnis yang tinggi.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
