<ion-header>
  <ion-toolbar bg color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Profil perusahaan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="company-header">    
    <h2>PT. JASKIR GROUP</h2>
    <p>perusahaan jasa pengiriman barang seluruh indonesia</p>
    <p>Alamat: Jl. pelita No. 123</p>
    <p>Telepon: (021) 1234-5678</p>  
      <div class="logo">    
      <img src="assets/icon/jaskir.png" alt="Logo Perusahaan"> 
    </div>
    
  </div>
  <!-- Informasi Profil Perusahaan -->
  <ion-card class="ion-card" bg color="warning">
    <ion-card-header>
      Visi Misi Perusahaan
    </ion-card-header>
    <ion-card-content>
      
      <p>Visi Perusahaan:</p>
      <p>Menjadi penyedia layanan pengiriman terkemuka dengan fokus pada kepuasan pelanggan.</p>
      <p>Misi Perusahaan:</p>
      <ul>
        <li>Memberikan layanan pengiriman cepat dan aman</li>
        <li>Menjaga integritas dan profesionalisme</li>
        <li>Mendorong inovasi dalam industri pengiriman barang</li>
      </ul>
    </ion-card-content>
  
  </ion-card>
  <!-- Gambar lainnya atau informasi tambahan -->
<ion-grid>
  <ion-row>
    <!-- Card 1 -->
    <ion-col size="12">
        <ion-card>
          <ion-img src="assets/icon/G1.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
              Nilai-Nilai Inti:
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <li><b>Keandalan:</b> Menjamin pengiriman tepat waktu dan dengan integritas.</li>
            <li><b>Inovasi:</b> Mengembangkan solusi logistik canggih untuk meningkatkan efisiensi.</li>
            <li><b>Kepuasan Pelanggan:</b> Memahami dan memenuhi kebutuhan pelanggan dengan pelayanan yang superior.</li>
            <li><b>Komitmen Lingkungan:</b> Mengelola operasi dengan peduli terhadap lingkungan.</li>
          
        </ion-card-content>
      </ion-card>
      </ion-col>
            <ion-col size="12">
          
        
        <ion-card>
          <ion-img src="assets/icon/G2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>
              Komitmen Kami:
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Kami berkomitmen untuk memberikan pengalaman pengiriman yang tanpa kesalahan, memberdayakan bisnis untuk tumbuh dan menghadirkan layanan unggulan yang memenuhi harapan pelanggan kami.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      </ion-grid>
    
</ion-content>